<div class="content">
  <h3>Agregar horarios de atención</h3>
  <div class="fecha">
    <clr-date-container>
      <label>Fecha</label>
      <input
        type="date"
        autocomplete="off"
        clrDate
        name="demo"
        [(ngModel)]="date"
      />
    </clr-date-container>
    <button class="btn btn-primary" id="buscar" (click)="search()">
      Buscar
    </button>
  </div>
  <p>
    Hora <input class="addhora" type="time" name="eta" [(ngModel)]="hour" />
    <button class="btn btn-primary" id="add" (click)="agregar()">
      Agregar
    </button>
  </p>
  <p>horarios ocupados</p>
  <div class="horarios">
    <ng-container *ngFor="let date of usagedDates">
      <button type="button" class="btn btn-icon horario" aria-label="home">
        {{ date.hora }}
      </button>
    </ng-container>
  </div>
</div>
