

#buscar{
    
    height: 30px;
    margin-left: 5px;
    margin-top: 3%;
}
.hours{
    font-size:large ;
    width: 55px;
    height: 25px;
    background-color: #D9D9D9;
  
}

.fecha{
    display: flex;
    flex-direction: row;
}
#add{
    height: 30px;
    margin-left: 5px;
   
}