

#buscar{
    height: 30px;
    margin: auto 8% 0 9%;
}
.hours{
    font-size:large ;
    width: 55px;
    height: 25px;
    background-color: #D9D9D9;

}
.nohora{
    font-size: 20;
    font-weight: bold;
}
.fecha{
    display: flex;
    width: 40%;
    flex-direction: row;
}
#add{
    height: 30px;
    margin-left: 5px;

}
.horarios{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: calc(100%-4rem);
    padding-bottom: 1rem;
    border-bottom: solid 1px rgba(128, 128, 128, .4);
    margin-right: 2rem;
}

h3{
    margin: 0;
    margin-top: 1rem;
}
.bottom{
    display: flex;
    flex-direction: column-reverse;
}
.horario{
  display: flex;
    width: fit-content;
    height: fit-content;
    margin: 1rem 0 0 0;
    @media screen and (max-width: 768px) {
        padding: 0;
    }

}

#deletehour:hover {
    border-color: var(--cds-alias-object-interaction-danger-hover);
    background-color:  var(--cds-alias-object-interaction-danger-hover);
    cursor: pointer;
}
.flex{
    display: flex;
}
