.grid{
    display: flex;
}
.header{
    background-color: #68A1B2;
}
#buscar{
    height: 30px;
    margin-left: 5px;
}
.hours{
    font-size:large ;
    width: 55px;
    height: 25px;
    background-color: #D9D9D9;
  
}