<div class="main-container">   
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible" [clrVerticalNavCollapsible]="true" class="nav-trigger">
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/favorites">
              <cds-icon shape="users" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Favoritos
            </a>  
        
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/patient/patientpanel">
              <cds-icon shape="world" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
             Citas
            </a> 
            <clr-vertical-nav-group routerLinkActive="active">
              <cds-icon shape="user" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Perfil
              <clr-vertical-nav-group-children>
                <a clrVerticalNavLink routerLink="/perfilpatient/updatedata" routerLinkActive="active">Datos personales</a>
                <a clrVerticalNavLink routerLink="/perfilpatient/updatepasswordpatient" routerLinkActive="active">Modificar contraseña</a>
              </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
          </clr-vertical-nav>
    </div>
</div>