.content{
    margin-top: 1%;
}

  #enviar{
 
    margin-left: 15%;
  }
  .form{
   
    margin-left: -20%;
  }
  .div{
    background-color: var(--cds-alias-utility-light-blue-tint);

    width: 27%;
    height: 40%;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;  
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;
  }
  .description{
    width: 250px;
    height: 100px;
  }

  