<div class="content">
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [fill]="chartOptions.fill"
          [title]="chartOptions.title">
        </apx-chart>
      </div>
      <div id="chart2">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [dataLabels]="chartOptions2.dataLabels"
          [plotOptions]="chartOptions2.plotOptions"
          [yaxis]="chartOptions2.yaxis"
          [xaxis]="chartOptions2.xaxis"
          [fill]="chartOptions2.fill"
          [title]="chartOptions2.title">
        </apx-chart>
      </div>
</div>
