<div class="content">
  <div id="star">
    <apx-chart
      [series]="starOptions.series"
      [chart]="starOptions.chart"
      [labels]="starOptions.labels"
      [responsive]="starOptions.responsive"
    ></apx-chart>
  </div>
  <div id="tratment">
    <apx-chart
    [series]="TratmentsOptions.series"
    [chart]="TratmentsOptions.chart"
    [labels]="TratmentsOptions.labels"
    [responsive]="TratmentsOptions.responsive"
    ></apx-chart>
  </div>
  <div id="ocupation">
    <apx-chart
    [series]="ocupationOptions.series"
    [chart]="ocupationOptions.chart"
    [labels]="ocupationOptions.labels"
    [responsive]="ocupationOptions.responsive"
    ></apx-chart>
  </div>
  <div id="ages">
    <apx-chart
      [series]="agesOptions.series"
      [chart]="agesOptions.chart"
      [dataLabels]="agesOptions.dataLabels"
      [plotOptions]="agesOptions.plotOptions"
      [xaxis]="agesOptions.xaxis"
      [colors]="agesOptions.colors"
      [title]="agesOptions.title"
      [legend]="agesOptions.legend"
    ></apx-chart>
  </div>
</div>
<div id="patients">
  <apx-chart
    [series]="patientsOptions.series"
    [chart]="patientsOptions.chart"
    [xaxis]="patientsOptions.xaxis"
    [dataLabels]="patientsOptions.dataLabels"
    [grid]="patientsOptions.grid"
    [stroke]="patientsOptions.stroke"
    [title]="patientsOptions.title"
  ></apx-chart>
</div>
<div id="cancel">
  <apx-chart
    [series]="cancelOptions.series"
    [chart]="cancelOptions.chart"
    [dataLabels]="cancelOptions.dataLabels"
    [plotOptions]="cancelOptions.plotOptions"
    [responsive]="cancelOptions.responsive"
    [xaxis]="cancelOptions.xaxis"
    [legend]="cancelOptions.legend"
    [fill]="cancelOptions.fill"
  ></apx-chart>
</div> 
<div id="schedules">
  <apx-chart
    [series]="schedulesOptions.series"
    [chart]="schedulesOptions.chart"
    [xaxis]="schedulesOptions.xaxis"
    [dataLabels]="schedulesOptions.dataLabels"
    [grid]="schedulesOptions.grid"
    [stroke]="schedulesOptions.stroke"
    [title]="schedulesOptions.title"
  ></apx-chart>
</div>


