
    <div class="content">
        <div class="search">
          <div class="searchbar">
            <!-- <div class="placeholderdown" >
              <div class="content-especiality" (click)="isdropdown=true" >
                <span class="text-title" >{{especialidad?.name||"Selecciona una especialidad"}}</span>
                <i class='bx bx-chevron-down icon_chevron'></i>
              </div>
              <div class="dropdown" [ngClass]="{active:isdropdown}" (mouseleave)="isdropdown=false">
                <ul>
                  <li *ngFor="let dato of Especiality">
                    <span class="option" (click)="especialidad= dato; isdropdown=false; $event.stopImmediatePropagation();">{{dato.name}}</span>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="select">
              <label>Especialidades </label>
              <select clrSelect name="treatments" [(ngModel)]="especialidad">
                <option value="" disabled selected>Selecciona una especialidad</option>
                <option *ngFor="let Especial of Especiality" value="{{ Especial.value }}">
                  {{ Especial.name}}
                </option>
              </select>  
            </div>
            <div class="down">
              <button class="btn btn-primary button" (click)="search()">
                Buscar
                <i class='bx bx-search-alt-2' ></i>
              </button>
            </div>
            
          </div>
        </div>
        <div class="formdata" >
          <div class="doctordata flex" *ngFor="let data of doctors" id="{{data.id}}" (click)="newdate(data.id)">
            <img class="photo">
            <div class="data">
              <h5 class="title-card">Dr. {{data.Nombre}} {{data.PrimerApe}} {{data.SegundoApe}}</h5>
              <h5 class="telf-Doctor"><i class='bx bxs-phone'></i> {{data.Celular}}</h5>
              <h5 class="especiality-Doctor"> Especialidad: {{data.Especialidad}}</h5>
              <h5 class="Email-Doctor"><i class='bx bx-envelope'></i> {{data.Correo}}</h5>
              <h5 class="Cedula-Doctor">Cedula: {{data.Cedula}}</h5>
            </div>
          </div>
        </div>
    </div>




