<div class="header">
    <app-header></app-header>
</div>
<div class="grid">
    <div class="navbar">
        <app-navbarpatient></app-navbarpatient>
    </div>
    <div class="contenido">

        <div class="search">
            <form action="#">
                <input type="text"
                    placeholder="Buscar especialista"
                    name="search" class="buscar">
                <button class="boton">
                    <i class="fa fa-search"
                        style="font-size: 18px;">
                    </i>
                    <img src="assets\buscador.jpg">
                </button>
            </form>
            <div class="doctordata"> <p>AQUI VA EL TEXTO</p> <div class="photo"></div>  </div>
        </div>  
    </div>

<p></p>
    </div>



