
.content{
  display: flex;
  flex-direction: column;
}
.searchbar .botondata{
  font-size: 13px;
  margin-left: 10px;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: .5rem;
  border: 1px solid #7f7f7f;
}
.searchbar .botondata i{
  font-weight: 700;
  font-size: 20px;
  color: grey;
}
  .search{

    float:left;
    margin:7px;

    width: 800px;
}
.searchbar{
  width: 400px;
  display: flex;
}
.placeholderdown{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 50px;
  width: 300px;
}
.content-especiality{
  border-bottom: 1px gray solid;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
}
.placeholderdown .icon_chevron{
  position: absolute;
  font-size: 30px;
  right: 0px;
  font-weight: 700;
  top: 5px;
  color: grey;
}
.dropdown{
  background-color: #ffffff;
  width: 300px;
  margin-top: 42px;
  position: absolute;
  display: block;
  overflow: auto;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  padding: .5rem;
  opacity: 0;
  transition: 0.4s ease-in-out;
  z-index: -1;
}
.dropdown.active{
  opacity: 1;
  transition: 0.4s ease-in-out;
  z-index: 100;
}
.dropdown li{
  list-style: none;
  padding: .5rem;
  border-bottom: 1px solid #94f1ff;
  border-radius: 5px;
}
.dropdown li .option{
  display: inline-block;
  width: 200px;
}
.dropdown li:hover{
  background-color: #c4f7ff;
}
.search button{

  height: 30px;
  width: 30px;

    padding: 5px 10px;

    font-size: 12px;
    border: none;
    cursor: pointer;
}
.formdata{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.formdata .doctordata{
  background-color: var(--cds-alias-utility-light-blue-tint);
  position: relative;
  padding: .5rem;
  border: 1px solid #7f7f7f;
  width: 20rem;
  height: 9rem;
  margin-right: 1rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 1px #7f7f7f;
  transition: .4s ease-in-out;
}
.formdata .doctordata:hover{
  transition: .4s ease-in-out;
  transform: translateY(.5rem);
}
.formdata .doctordata span{
  position: absolute;
}
.formdata .doctordata .photo{
  background-color: #d7d7d7;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  border:1px solid #7f7f7f;
}
.formdata .doctordata .title-card{
  top: 2rem;
  left: 6rem;
}
.formdata .doctordata .especiality-Doctor{
  top: 3rem;
  left: 6rem;
}
.formdata .doctordata .telf-Doctor{
  top: 5rem;
  left: 6rem;
}
.formdata .doctordata .Email-Doctor{
  top: 6rem;
  left: 6rem;
}
.formdata .doctordata .Cedula-Doctor{
  top: 7rem;
  left: 6rem;
}
