
    <div class="content">
        <div class="search">
            <ng-container *ngFor="let favorite of favorites" (click)="abrirdoctor()" >
                <div class="doctordata" >
                    <h5>Nombre: {{favorite.Nombre}} {{favorite.PrimerApe}} {{favorite.SegundoApe}}</h5> 
                    <h5>Especialidad: {{favorite.especialidad}}</h5>
                    <h5> {{favorite.cedula}}</h5>
                    <h5>Celular: {{favorite.celular}}</h5>
                    <button id="calificar" class="btn btn-primary" (click)="calificar(favorite.id)">Calificar doctor</button>
                </div>
                
            </ng-container>
            
        </div>  
    </div>


