.custom-header {
  background-color: #68A1B2;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
}
.main-container{
  width: 100%;
}
.text-container {
  display: flex;
  align-items: center;
}