.custom-header {
  background-color: var(--cds-alias-utility-blue-shade);
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  position: fixed;
  z-index: 1000;
}
.main-container{
  width: 100%;

}
.text-container {
  display: flex;
  align-items: center;
}