.custom-header {
  background-color: var(--cds-alias-utility-blue-shade);
  color: var(--cds-alias-typography-color-100);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  height: 2rem;
  
  margin: 0 1rem;
}

.dark-mode{
  filter: invert(100%);
}

/* Estilos para el modo claro */
.light-mode {
  filter: invert(0%);
}
.main-container{
  width: 100%;

}
.text-container {
  display: flex;
  align-items: center;
}