
  <div class="content">
    <form class="login">
      <section class="title">
        <!-- These could be heading elements. -->
        <div class="welcome">DoctorApp</div>
      </section>
      <div class="login-group">
        <clr-select-container>
          <label>Tipo de usuario:</label>
          <select clrSelect name="type" [(ngModel)]="type">
            <option value="patient">Paciente</option>
            <option value="doctor">Doctor</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label class="clr-sr-only">E-mail</label>
          <input
            type="text"
            autocomplete="username"
            name="username"
            clrInput
            placeholder="Usuario (Telefono o correo)"
            [(ngModel)]="user"
          />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="password"
            clrPassword
            placeholder="Contraseña"
            [(ngModel)]="password"
          />
        </clr-password-container>
        <button type="submit" [disabled]="isDisabled" class="btn btn-primary" (click)="login()">Iniciar Sesion</button>
        <div class="signup_data">
          <label for="">Si no tiene una cuenta...</label>
          <a routerLink="/"  class="signup">Registrate aquí</a>
        </div>
      </div>
    </form>
  </div>
