.grid{
    display: flex;
}
.header{
    background-color: #68A1B2;
}
.contenido{
    text-align: center;
    margin-left: 400px;
}
h3{
  color: black;
  margin-right: 50px;
}
h4{
    margin-right: 50px;
    color: black;
  }
input{
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #F1EAEA;
    background-color: #F1EAEA;
}
.modificar{
    margin-right: 50px;
    width: 115px;
    height: 75;
    flex-shrink: 0;
    border-radius: 20px;
    background: #7482CA;
    color: #000;


}
.buttonpassword{
    margin-left: 20px;

}