<div class="header">
    <app-header></app-header>
</div>
<div class="grid">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="contenido">
      <h3>Modificar contraseña</h3>
      <h4>Contraseña actual</h4>
      <br>
      <input type="password" [(ngModel)]="currentpassword"  />
      <button type="button" class="buttonpassword" (click)="updatepass()"><img src="../assets/fotocontraseña.png" height ="18px" width="18px" /></button>
      <h4>Nueva contraseña</h4>
      <br>
      <input type="password" [(ngModel)]="newpassword" />
      <button type="button" class="buttonpassword" (click)="updatepass()"><img src="../assets/fotocontraseña.png" height ="18px" width="18px" /></button>
      <h4>Confirmar nueva contraseña</h4>
      <br>
      <input type="password" [(ngModel)]="confirmpassword" />
      <button type="button" class="buttonpassword" ><img src="../assets/fotocontraseña.png" height ="18px" width="18px" /></button>
      <br><br><br>
      <button type="submit" class="modificar" (click)="updatepass()"><strong>Modificar</strong></button>
    </div>
</div>
