<div class="content">
    <form class="appointmentGroup" >
        <div class="title">
            <h1>Agendar cita</h1>
        </div>
        <div class="primerfila">
         <p>
            <clr-date-container>
                <label>Fecha</label>
                <input type="date" autocomplete="off" clrDate name="date" [(ngModel)]="date" />
              </clr-date-container>
              <button type="submit" id="buscar" class="btn btn-primary" (click)="disponibles()">Buscar</button>
         </p> 
         <div class="horarios" *ngFor="let date of availableDates">
            <button [ngClass]="getButtonClass(date)" (click)="onSelect(date)">
              {{ formatHora(date.hora) }}
            </button>
          </div>    
        </div> 
        <div class="segundafila">
            <select clrSelect name="treatments" [(ngModel)]="treatment">
                <option *ngFor="let treatment of treatments" value="{{ treatment.id }}">
                  {{ treatment.tratamiento}} {{ treatment.costo}}
                </option>
              </select> 
            <button type="submit" id="agendar" class="btn btn-primary" (click)="agendar()">Agendar</button>
          </div>  
      </form>
</div>

