

.appointmentGroup{
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
 
}
.title{
    grid-column: 1 / 3 !important ;
    margin-bottom: 5%;
    height: 1rem !important;
}

.primerafila{
    margin-top: 0;
    padding: 0;
    width: fit-content;
}
.segundafila{
    margin-top: 0;
    padding: 0;
   
}

input{
    width: 15rem;
}

select{
    width: 15rem;
}
p{
    display:flex;
    flex-direction: row;

}
#buscar{
   
    margin-top: 5%;
    margin-left: 1%;
}
.horarios{
    display: grid;
    grid-column: 2 / 3 !important ;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
}
.horario{
    width: fit-content;
    height: fit-content;
    margin: 1rem 0 0 0;
    @media screen and (max-width: 768px) {
        padding: 0;
    }
    
}