
.treatments{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 70%;
    height: 20%;
}
.precio{
    margin-left: 5%;
    width: 90%;
}
.questions{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 72%;
    height: 11%;
}
.renglon{
 
    width: 180%;
}
#btn_question{
margin-left: 35%;
}