
.treatments{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 70%;
    height: 20%;
}
.treatments:first-of-type{
    margin-top: 0;
}
h3{
    margin: 0 auto;
}
.precio{
    margin-left: 5%;
    width: 90%;
}
.questions{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 72%;
    height: 11%;
}
.renglon{
 
    width: 180%;
}
#btn_question{
margin-left: 35%;
}

.pages{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 1rem;
}