
    <div class="content">
        <h3>Agregar información</h3>
        <div class="treatments">
          <p>Agregar tratamiento </p>
            <input
              type="text"
              name="treatment"
              clrInput
           
              [(ngModel)]="treatment"
            /> 
            <p>Precio </p>
            <input
            class="precio"
            type="text"           
            name="precio"
            clrInput
           
            [(ngModel)]="precio"
          /> 
          <button class="btn btn-primary" (click)="add_treatments()">Agregar tratamiento</button>
        </div>
        <div class="table-treatments">
          <table class="table">
            <thead>
              <tr>
                <th>Tratamiento</th>
                <th>Costo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let treatment of treatments">
                <td>{{ treatment.tratamiento }}</td>
                <td>${{ treatment.costo }}</td>
                <td><cds-icon shape="trash" solid="true" (click)="deletetreatment(treatment.id)"></cds-icon></td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="questions">
          <p>Agregar pregunta </p>
            <input
            class="renglon"
              type="text"
              name="question"
              clrInput
             
              [(ngModel)]="question"
            /> 
          
          <button class="btn btn-primary" id="btn_question" (click)="add_question()">Agregar pregunta</button>
        </div>
        <div class="table-questions">
          <table class="table">
            <thead>
              <tr>
                <th>Pregunta</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let question of questions">
                <td>{{ question.pregunta }}</td>
                <td><cds-icon shape="trash" solid="true" (click)="deletequestion(question.id)"></cds-icon></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
