
.grid{
    display: flex;
    height: 100vh;
}
.navbar {
    top: 0;
    overflow: hidden;
}
.content {
    overflow-y: auto; 
    padding: 2%; 
    margin: 3% 0 0 15%;
    overflow-x: hidden; 
}

.header{
    background-color: #68A1B2;
}
.updatepassword{
    position: absolute;
    left: 45%;        
}
.updatepasswordGroup{
    text-align: left;
    margin: auto 10rem auto 0;
    width: 15rem;
}

input{
    width: 20rem;
}
.welcome.title.h1{
   width: 100%; 
}