<div class="main-container">   
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible" [clrVerticalNavCollapsible]="true" class="nav-trigger">
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/patients/patientslist">
              <cds-icon shape="users" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Pacientes
            </a>  
            <clr-vertical-nav-group routerLinkActive="active">
              <cds-icon shape="calendar" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Agenda
              <clr-vertical-nav-group-children>
                <a clrVerticalNavLink routerLink="/schedule/scheduleview" routerLinkActive="active">Ver agenda</a>
                <a clrVerticalNavLink routerLink="/schedule/newappointment" routerLinkActive="active">Agendar paciente</a>
                <a clrVerticalNavLink routerLink="/schedule/date-scheduler" routerLinkActive="active">Horario de atencion</a>
              </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/reviews">
              <cds-icon shape="world" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Opiniones
            </a> 
            <clr-vertical-nav-group routerLinkActive="active">
              <cds-icon shape="user" badge="info" solid="true" clrVerticalNavIcon></cds-icon>
              Perfil
              <clr-vertical-nav-group-children>
                <a clrVerticalNavLink routerLink="/profile/editprofile" routerLinkActive="active">Datos personales</a>
                <a clrVerticalNavLink routerLink="/profile/updatepassword" routerLinkActive="active">Modificar contraseña</a>
                <a clrVerticalNavLink routerLink="/profile/service-panel" routerLinkActive="active">Servicios</a>
                <a clrVerticalNavLink routerLink="/profile/stats" routerLinkActive="active">Estadisticas</a>
              </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
          </clr-vertical-nav>
    </div>
</div>