.cita{
    background-color: var(--cds-alias-utility-light-blue-tint);
    margin-top: 50px;
    margin-left: 30px;
    width: 400px;
    height: 200px;
    border-radius: 2rem;
    padding: .3rem 1rem .3rem 1rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;  
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;
}
#search{
 margin-top: 3%;
 margin-left: 1%;
  
}
#cancel{
    width: 6rem;
    margin: -25% 0 0 65%;
}
#message {
    margin: -38% 0 0 65%;
    width: 6rem;
}
.confirmacion {
    font-weight: bold; /* A침adido para resaltar el estado de confirmaci칩n */
    font-size: 1.2rem; /* A침adido para ajustar el tama침o del texto */
}
p{
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.filtrado{
    display: flex; /*ghjsryg*/
}

