    <div class="content">

        <div class="title">  <h2>Panel del paciente</h2>  
            
            <button class="btn btn-primary cita" (click)="newappointment()">Nueva cita</button>
        </div> 
    
       
      
            <table class="table">
                <tbody>
                  <tr *ngFor="let date of dateslist">
                    <th>
                        <p>Doctor: {{ date.Doctor }} </p>
                    </th>
                    <th>
                        <p> Tratamiento: {{ date.tratamiento }} </p>
                    </th>  <th>
                        <p> Fecha:  {{ date.fecha }} </p>
                    </th>  <th>
                        <p> Hora:   {{ formatHora(date.hora) }}</p>
                    </th>
                    <th>
                        <button id="historial" class="btn btn-primary-outline btn-sm" (click)="historial(date.idDoctor)">Historial clínico</button>
                        <button id="cancel" class="btn btn-danger-outline btn-sm"(click)="canceldate(date.id)">Cancelar</button>
                    </th>
                  </tr>
                 
                </tbody>
              </table>
              <div *ngIf="dateslist.length === 0">
                    <p class="nocitas">No hay citas agendadas</p>
              </div>
        </div>
  


