

input{
    width: 20rem;
}

.nocitas{
    font-weight: bold;
    font-size: 20;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
  
}
.cita{
    margin-bottom: -5%;
    margin-left: 30%;
}
.datenew{
  
}
.content{
    width: 100%;
   
    margin: 0 auto;
}

