

input{
    width: 20rem;
}


.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 400px;
  
}
#boton{
    margin-bottom: -5%;
    margin-left: 30%;
}
.datenew{
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    border-radius: 25px;
background: #ceddf3;
margin-left: 50px;
margin-top: 20px;
}

