    <div class="content">

        <div class="title">  <h2>Panel del paciente</h2>  
            
             <a class="btn btn-primary" href="./search" id="boton" >Nueva cita</a>
        </div> 
    
       
        <div class="datenew" *ngFor="let date of dates">
            <table class="table">
                <tbody>
                  <tr>
                    <th>
                        <p>Doctor: {{ date.Doctor }} </p>
                    </th>
                    <th>
                        <p> Tratamiento: {{ date.tratamiento }} </p>
                    </th>  <th>
                        <p> Fecha:  {{ date.fecha }} </p>
                    </th>  <th>
                        <p> Hora:   {{ formatHora(date.hora) }}</p>
                    </th>
                    <th>
                        <button id="cancel" class="btn btn-danger-outline btn-sm"(click)="canceldate(date.id)">Cancelar</button>
                    </th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>


