<div class="header">
    <app-header></app-header>
</div>
<div class="grid">
    <div class="navbar">
        <app-navbarpatient></app-navbarpatient>
    </div>
    <div class="contenido">
        <div class="doctordata">
            <div class="photo"></div>
            <div clas="consultoriodata"><p>    f dafrwger  Dr. XXXX XXXX </p></div>
         
        </div>
        
        <div class="createdate"><input type="date" class="calendar"/></div>>
        <p class="text">Horarios disponibles</p>
        <div class="availableschedules">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
        </div>
        <div class="treatment">
            <p>Tratamiento:</p>
            <div class="options">Opciones</div>
        </div>

        <button type="submit" class="btnagendar" (click)="agendar()">Agendar</button>
    </div>
</div>
