<div class="header">
    <app-header></app-header>
</div>
<div class="grid">
    <div class="navbar">
        <app-navbarpatient></app-navbarpatient>
    </div>
    <div class="contenido">
        <div class="doctordata">
            <div class="photo"></div>
            <div clas="consultoriodata"><p>    f dafrwger  Dr. XXXX XXXX </p></div>
         
        </div>
        <form clrForm class="fecha">
            <clr-date-container>
              <label>Fecha</label>
              <input type="date" autocomplete="off" clrDate name="demo" [(ngModel)]="date" />
            </clr-date-container>
        </form>
        <p class="text">Horarios disponibles</p>
        <div class="availableschedules">
            <div class="hours">00:00</div>
            <div class="hours">01:00</div>
        </div>
        <div class="treatment">
            <clr-select-container>
                <label>Especialidad</label>
                <select clrSelect name="treatment" [(ngModel)]="treatment">
                  <option value="muela">Extracción de muela</option>
                  <option value="limpieza">Limpieza dental</option>
                  <option value="caries">Caries</option>
                </select>
              </clr-select-container>
        </div>

        <button type="submit" class="btnagendar" (click)="agendar()">Agendar</button>
    </div>
</div>
