<div class="pantalla">
<h1 class="h1">DoctorApp</h1>
<h2 class="h2">La salud es primero</h2>
<h3 class="h3">Encuentra a tu doctor y pide cita</h3>
<button class="iniciarsesion" (click)="click()">Iniciar sesión</button>
<button class="registrar" (click)="click_regis()">Registrarte</button>
<img class="imagen" src="../assets/imagen.png">
    
<svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1275 788" fill="none">
    <path d="M586 652C374.8 896.8 107.333 754 0 652V0.5H1275V325C1053 325 850 346 586 652Z" fill="#78C5F0"/>
 </svg>
  
</div>


