.grid{
    display: flex;
}
.header{
    background-color: #68A1B2;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.contenido{
 position: absolute;
 margin-left: 500px; 
 margin-top: 80px;
 
}
.horarios{
   position: absolute;
   margin-top: 15px;
   width: 60px;
   height: 25px;
    background-color: #68A1B2;
}
.horarios2{
    position: absolute;
    margin-top: 15px;
    margin-left: 80px;
    width: 60px;
    height: 25px;
     background-color: #68A1B2;
 }
.btnregis{
    position:absolute;
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #7482CA;
    margin-top: 300px;
    margin-left: 600px;
}
.segundafila{
    position: absolute;
    margin-left: 300px;
   
}
.primerfila{
    position: absolute;
}