<div class="content">
  <h3>Lista de pacientes</h3>
  <button class="btn btn-link" (click)="toggleFuncion()">DoctorApp</button>

  <div class="grid">
    <div
      class="patient"
      *ngFor="let patient of patients.slice((page - 1) * paged, page * paged)"
      (click)="patientdetail(patient)"
    >
      <div class="info">
        <p>
          Nombre: {{ patient.Nombre }} {{ patient.PrimerApe }}
          {{ patient.SegundoApe }}
        </p>
        <p>Celular: {{ patient.celular }}</p>
        <p>Correo: {{ patient.correo }}</p>
      </div>
    </div>
  </div>

  <div class="pages">
    <cds-icon shape="rewind" (click)="paginador(-1)"></cds-icon>
    {{ page }} de {{ pages }}
    <cds-icon shape="fast-forward" (click)="paginador(1)"></cds-icon>
  </div>
</div>
