<app-header></app-header>
<div class="grid">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="contenido">
        <div class="patient"*ngFor="let patient of patients" (click)="patientdetail()">
            
            <div class="info">
                <p>Nombre: {{ patient.Nombre }} {{ patient.PrimerApe }} {{ patient.SegundoApe }}</p>
                <p>Celular: {{ patient.celular }}</p>
                <p>Edad: {{ patient.edad }}</p> 
                <div class="photo"></div>
            </div>
            
        </div>
        
         
    </div>
</div>
