
.updatepassword{
    position: absolute;
    left: 45%;        
}
.updatepasswordGroup{
    text-align: left;
    margin: auto 10rem auto 0;
    width: 15rem;
}

input{
    width: 20rem;
}
.welcome.title.h1{
   width: 100%; 
}

