<app-header></app-header>
<div class="grid">
    <div class="navbar">
        <app-navbarpatient></app-navbarpatient>
    </div>
    <div class="content">
     
          <div class="updatepassword">
                  <form class="updatepasswordGroup" >
                    <section class="title">
                      <div class="welcome">
                        <h1>Modificar contraseña</h1>
                      </div>
                    </section>
                    <div >
                      <clr-password-container>
                        <label class="clr-sr-only">Contraseña actual</label>
                        <input
                          type="currentpassword"
                          autocomplete="current-password"
                          name="currentpassword"
                          clrPassword
                          placeholder="Contraseña actual"
                          [(ngModel)]="currentpassword"
                        />
                      </clr-password-container>
                      <clr-password-container>
                        <label class="clr-sr-only">Nueva contraseña</label>
                        <input
                          type="newpassword"
                          autocomplete="current-password"
                          name="newpassword"
                          clrPassword
                          placeholder="Nueva contraseña"
                          [(ngModel)]="newpassword"
                        />
                      </clr-password-container>
                      <clr-password-container>
                        <label class="clr-sr-only">Confirmar nueva contraseña</label>
                        <input
                          type="confirmPassword"
                          autocomplete="current-password"
                          name="confirmPassword"
                          clrPassword
                          placeholder="Confirmar nueva contraseña"
                          [(ngModel)]="confirmpassword"
                        />
                      </clr-password-container>
                      <button type="submit" class="btn btn-primary" (click)="updatepass()">Modificar</button>
                    </div>
                  </form>
                  
                </div>          
    </div>
</div>
