.grid{
    display: flex;
}
.header{
    background-color: #68A1B2;
}
.updatepassword{
    position: absolute;
    left: 45%;        
}
.updatepasswordGroup{
    text-align: left;
    margin: auto 10rem auto 0;
    width: 15rem;
}
.content{
    width: 100%;
    margin-top: 3%;
}
input{
    width: 20rem;
}
.welcome.title.h1{
   width: 100%; 
}