<app-header></app-header>
<div class="grid">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="content">
        <div class="details">
            <p class="paciente">Paciente fulanito</p>
            <p class="treatment">Tratamiento: ****</p>
            <p class="treatmentfin">Tratamiento finalizado: <input type="checkbox" class="cbox" id="cbox" value="checkbox" /></p>
             <br>
            <button class="btn btn-primary" (click)="subir()">Subir imagen del progreso</button>
        </div>
    </div>
</div>