
    <div class="content">
      <button class="btn btn-primary records" (click)="clinicalrecords()">historia clinica</button>
            <div class="details">
                <p class="paciente"> {{this.name}} {{this.lastname}} {{this.lastname2}}</p>
                    <label class="clr-sr-only">Tratamiento</label>
                    <select clrSelect name="treatments" [(ngModel)]="treatment">
                      <option *ngFor="let treatment of treatments" value="{{ treatment.tratamiento }}">
                        {{ treatment.tratamiento}}
                      </option>
                    </select>

                    <div class="file bod">
                      <label for="fileInput"></label>
                      <input
                        type="file"
                        placeholder="Escriba aquí"
                        name="fileInput"
                        class="clr-input noTipe"
                        (change)="onFileSelected($event)"
                        [(ngModel)]="fileInput"
                      />
   
                </div>

                <br>

            </div>

    
    </div>
