
    <div class="content">
      
            <button class="imprimir" ><img src="assets/print-printer-tool-with-printed-paper-outlined-symbol_icon-icons 1.png"/></button>
            <div class="details">
                <p class="paciente"> {{this.name}} {{this.lastname}} {{this.lastname2}}</p>
                    <label class="clr-sr-only">Tratamiento</label>
                    <select clrSelect name="treatments" [(ngModel)]="treatment">
                      <option *ngFor="let treatment of treatments" value="{{ treatment.tratamiento }}">
                        {{ treatment.tratamiento}}
                      </option>
                    </select>

                    <div class="file bod">
                      <label for="fileInput">Seleccionar Archivo:</label>
                      <input
                        type="file"
                        placeholder="Escriba aquí"
                        name="fileInput"
                        class="clr-input noTipe"
                        (change)="onFileSelected($event)"
                      />
   
                </div>

                <br>

            </div>
            <button class="btn btn-primary" (click)="clinicalrecords()">historia clinica</button>
    
    </div>
