.grid{
    display: flex !important;
    height: 100vh;
}

.navbar {
    top: 0;
    overflow: hidden;
}
.content {
    top: 50px; 
    padding: 20px; 
    margin: 2% 0 0 15%;
    overflow-x: hidden; 
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
}
.cbox{

   margin-left: 2%;

   
}

.details{
    background-color: var(--cds-alias-utility-light-blue-tint);
    margin-top: 50px;
    margin-left: 90px;
    width: 400px;
    height: 40%;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;  
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;
  
}
p{
    line-height: 5% !important;
}
.subir{
 margin: 5% 0 0 20%;

}
