<div class="content">
  <h3>Comentarios</h3>
  <div class="grid">
    <div
      class="comments"
      *ngFor="let comment of comments.slice((page - 1) * paged, page * paged)"
    >
      <div class="info">
        <div>
          <ng-container *ngFor="let i of [].constructor(5); let index = index">
            <cds-icon class="star" shape="star" *ngIf="index < comment.estrellas" solid="true"></cds-icon>
            <cds-icon class="star" shape="star" *ngIf="index >= comment.estrellas" solid="false"></cds-icon>
          </ng-container>
        </div>
        <p>{{ comment.comentario }}</p>
      </div>
    </div>
    
  </div>
  <div class="pages">
    <i class="fi fi-br-arrow-left" (click)="paginador(-1)"></i>
    {{ page }} de {{ pages }}
    <i class="fi fi-br-arrow-right" (click)="paginador(1)"></i>
  </div>
  
</div>
