
.grid {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
}
.comments{
    background-color: var(--cds-alias-utility-light-blue-tint);
    margin: 5% 0 2% 2%;
    width: 400px;
    height: 150px;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;  
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;
}
.star{
    margin: 0;
}
.pages{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 1rem;
}