
.register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;  
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-info) ;
    border-radius: 5rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 10rem;
    background-color: var(--cds-alias-status-neutral-tint) ;
}
.registerGroup{
    text-align: left;
    margin: auto 10rem auto 0;
    width: 15rem;
}
input{
    width: 15rem;
}